LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

//7 seg
LOCATE COMP "seg7[0]" SITE "E14";
LOCATE COMP "seg7[1]" SITE "D7";
LOCATE COMP "seg7[2]" SITE "D8";
LOCATE COMP "seg7[3]" SITE "D9";
LOCATE COMP "seg7[4]" SITE "D10";
LOCATE COMP "seg7[5]" SITE "D11";
LOCATE COMP "seg7[6]" SITE "E12";
LOCATE COMP "seg7[7]" SITE "D13";
IOBUF PORT "seg7[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "seg7[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "seg7[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "seg7[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "seg7[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "seg7[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "seg7[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "seg7[7]" IO_TYPE=LVCMOS33;

//DIP
LOCATE COMP "val1[3]" SITE "G13";
LOCATE COMP "val1[2]" SITE "G14";
LOCATE COMP "val1[1]" SITE "H14";
LOCATE COMP "val1[0]" SITE "J14"; 
INPUT PORT "val1[0]" IO_TYPE=LVCMOS33;
INPUT PORT "val1[1]" IO_TYPE=LVCMOS33;
INPUT PORT "val1[2]" IO_TYPE=LVCMOS33;
INPUT PORT "val1[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "val2[3]" SITE "K14";
LOCATE COMP "val2[2]" SITE "L14";
LOCATE COMP "val2[1]" SITE "L13"; 
LOCATE COMP "val2[0]" SITE "M12";
INPUT PORT "val2[0]" IO_TYPE=LVCMOS33;
INPUT PORT "val2[1]" IO_TYPE=LVCMOS33;
INPUT PORT "val2[2]" IO_TYPE=LVCMOS33;
INPUT PORT "val2[3]" IO_TYPE=LVCMOS33;